body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.chat-body {
    background-color: #f8cc41;
    color: black;
}

.chat-button {
    background-color: #62e177;
    border: none;
}