<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.spring2.young.mapper.YoungMapper">

    <!-- Insert statement for inserting a YoungVO object into the young table -->
    <insert id="insert"
            parameterType="com.multi.spring2.young.domain.YoungVO">
        INSERT INTO young
        VALUES (
                   #{bizId}, #{polyBizSjnm}, #{plcyTpNm}, #{cnsgNmor}, #{rqutProcCn});
    </insert>

    <!-- Select statement for retrieving all records from the young table -->
    <select id="all"
            resultType="com.multi.spring2.young.domain.YoungVO">
        SELECT *
        FROM young;
    </select>

</mapper>
